.container 
    h2.video__title.title Видео
    .video__inner
        .video__big.video-container
            img.video__item-img(src="img/video/big.jpg", alt="")
            .video__item-wrap 
                .video__item-info 
                    .video__item-name Монтаж водоснабжения
                    .video__item-text г. Москва, Ленинский проспект 77к1
            .video__item-video
                iframe(
                src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                title="YouTube video player" 
                frameborder="0" 
                allowfullscreen)
            button.video__button#play
                img(src="img/video/play.svg", alt="")
        .video__wrapper 
            .video__item.video-container
                img.video__item-img(src="img/video/small.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
                button.video__button#play
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small2.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
                button.video__button#play
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small3.jpg", alt="")
                .video__item-wrap 
                    .video__item-info 
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
                button.video__button#play
                    img(src="img/video/play.svg", alt="")
            .video__item.video-container
                img.video__item-img(src="img/video/small4.jpg", alt="")
                .video__item-wrap 
                    .video__item-info
                        .video__item-name Монтаж водоснабжения
                        .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
                button.video__button#play
                    img(src="img/video/play.svg", alt="")