.container 
    h2.video__title.title Видео
    .video__inner
        .video__big
                .video__item-info 
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
        .video__wrapper 
            .video__item 
                .video__item-info 
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
            .video__item 
                .video__item-info 
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
            .video__item 
                .video__item-info 
                    .video__item-name Монтаж водоснабжения
                    .video__item-text г. Москва, Ленинский проспект 77к1
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
            .video__item
                .video__item-info 
                .video__item-video 
                    iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)