.container 
    h2.video__title.title Видео
    .video__inner
        .video__big
            iframe(
                src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                title="YouTube video player" 
                frameborder="0" 
                allowfullscreen)
        .video__wrapper 
            .video__item 
                iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0"
                    allowfullscreen)
            .video__item 
                iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
            .video__item 
                iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)
            .video__item
                iframe(
                    src="https://www.youtube.com/embed/G1DsbIwXOb0" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allowfullscreen)